:root {
    --primary-brand-color: #4d5ae5;
    --pressed-state-color: #404bbf;
    --dark-color: #2e2f42;
    --success-color: #31d0aa;
    --text-color: #434455;
    --subtle-text-color: #8e8f99;
    --accent-color: #e7e9fc;
    --light-color: #f4f4fd;
    --main-color: #2e2f42;
    --background-color: #ffffff;
    --modal-background-color: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: 16px;
    line-height: 1.5; 
    font-weight: 400;
    letter-spacing: 0.02em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.link {
    text-decoration: none;
}
.list {
    list-style-type: none;
}
.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*--------HEADER----------*/
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
    margin-right: auto;
}
.logo-change {
    color: var(--dark-color);
}
.header-item a {
    font-weight: 500;
    color: var(--dark-color);
}
.address-item a {
    color: var(--text-color);
}
.link:is(:hover, :focus, :active) {
    color: var(--pressed-state-color);
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
   
}
.header-container {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
    
}
.address {
    font-style: normal;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
/*-------------HERO---------*/
.hero {
    background-color: #2E2F42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-btn {
    background-color: #4D5AE5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}
.hero-btn:is(:hover, :focus){
    background-color: #404BBF;
}
/*----------ADVANTAGES---------*/
.advantages {}

.advantages-title {}

.advantages-list {}

.advantages-item {}

.advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.advantages-text {}

/*-----------PROJECTS-----
project-title and team-title have similar css ----------*/
.projects {}

.projects-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
}
.projects-list {}

.projects-item {}

.projects-img {}

/*-------------TEAM------------*/
.team {
    background-color: #F4F4FD;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
}
.team-list {}

.team-item {
    background-color: #FFFFFF;
}

.team-img {}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}
.team-text {}

/*--------------FOOTER---------------*/
.footer {
    background-color: #2E2F42;
    
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-logo span {
    color: #f4f4fd;
}
.footer-text {
    color: #F4F4FD;
}

/*-----------FILTER-----------*/
.filter-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
    cursor: pointer;
}
.filter-btn:is(:hover, :focus, :active) {
    color: #FFFFFF;
    background-color: #404BBF;
}

.filter {}

.filter-list {}

.filter-item {}

/*---------PRODUCTS------------*/
.products {}

.products-title {}

.products-list {}

.products-item {}

.products-img {}

.products-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
}
.products-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}